@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600&display=swap');

.page-enter-active, .page-leave-active {
    transition: opacity .5s;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
  }
.flag {
  width: 15px;
  padding-top: 5px;
}
.icon {
  font-size: 70px !important;
}
.services {
  font-size: 50px !important;
  position: relative;
  z-index: 5;
}
.services:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #00BFA5;
  opacity: .25;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  z-index: 1;
}

.transpa {
  background: transparent !important;
}

.setResponsive {
  @media only screen and (min-width: 960px) {
    display: none !important;
  }
}
.setToolButton {
  height: 80px !important;
}
.setToolButton:hover {
  color: #009688 !important;
}
// ########################### BASE ###########################
// ########################### BASE ###########################
// ########################### BASE ###########################

a {
  text-decoration: none;
}
body {
  font-family: 'Oswald' !important;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}



// ########################### HEADER ###########################
// ########################### HEADER ###########################
// ########################### HEADER ###########################

.switcherLang {
  color:inherit;
}
.toolBar {
  z-index: 5 !important;
}

// ########################### END HEADER ###########################
// ########################### END HEADER ###########################
// ########################### END HEADER ###########################

.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .75 !important;
  position: absolute;
  width: 100%;
}
// .v-card--reveal {
//   align-items: center;
//   bottom: 0;
//   justify-content: center;
//   opacity: .75 !important;
//   position: absolute;
//   width: 100%;
// }
.v-cardtext--reveal {
  background: #333;
}

.content {
  padding: 50px 0 50px 0 !important;
}

// ########################### ABOUT ###########################
// ########################### ABOUT ###########################
// ########################### ABOUT ###########################

// .about-section {
//   width: 100% !important;
// }


// ########################### END ABOUT ###########################
// ########################### END ABOUT ###########################
// ########################### END ABOUT ###########################

// ###########################  NEWS ###########################
// ###########################  NEWS ###########################
// ###########################  NEWS ###########################

.newstitle {
  line-height: 32px !important;
}

// ########################### END NEWS ###########################
// ########################### END NEWS ###########################
// ########################### END NEWS ###########################